@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode foreground */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827; /* Equivalent to Tailwind's bg-gray-900 */
    --foreground: #ededed; /* Dark mode foreground */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
    background-color: #ffffff; /* Light mode background */
    transition: background-color 0.3s ease; /* Smooth transition */
}

html.dark {
    background-color: #1a202c; /* Dark mode background (Tailwind's gray-800) */
}
